<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">

    <link href="~/Content/assets/css/introjs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="~/Content/assets/js/intro.js" type="text/javascript"></script>

    <style>
    a, p, h1, h2, h3, h4, h5, h6, div, header, body, button, ul, li { 
        font-family: 'Montserrat', light;
        font-size: 1.5rem;
    }
    </style>

</head>
<body>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" style="background-color:#16224D; width: 100%">
        <div class="container" style="background-color:#16224D; width: 90%">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" style="color:white"></button>
                <a href="/Home/LandingPage" class="navbar-brand" style="font-size:25px; font-family:Montserrat">Demeter</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul id="demeterNav" class="nav navbar-nav navbar-right" style="font-size:large; font-family:Montserrat">
                    <li>
                        <a href="/Home/BusinessSelection">Business Selection</a>
                    </li>
                    <li>
                        <a href="/Home/CuisineSelection">Cuisine Selection</a>
                    </li>
                    <li>
                        <a href="/Home/Supporting">Supporting Information</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container body-content" style="width:100%; background-color: #F0F4FF">
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
    </div>
    <!-- Site footer -->
    <footer class="site-footer" style="background-color:#16224D; width: 100%">
        <div class="container" style="width: 90%">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <h6><a href="#" style="font-family:Montserrat"></a>About us</h6>
                    <p class="text-justify">
                        <i>Demeter - Empowering Women Refugees, </i>  a digital platform that supports refugee women with dependent children to start a business in the food and the hairdressing industry. We are an information center who help refugee women find the necessary insights for women refugees as a business, market and demographic analysis among greater Melbourne, by doing this we empower refugee women to make decisions for both entrepreneurship and dwelling. Presently, entrepreneurial refugee women don’t find the right information and resources at the right time.
                    </p>
                </div>

                <div class="col-xs-4 col-md-4">
                    <h6>Sitemap</h6>
                    <ul class="footer-links">
                        <li><a href="/Home/LandingPage">Home</a></li>
                        <li><a href="/Home/BusinessSelection">Business Selection</a></li>
                        <li><a href="/Home/CuisineSelection">Cuisine Selection</a></li>
                    </ul>

                    <ul class="footer-links">
                        <li><a href="/Home/PreferenceTK">Preference Turkish Cuisine</a></li>
                        <li><a href="/Home/PreferenceME">Preference Middle Eastern Cuisine</a></li>
                        <li><a href="/Home/PreferenceLB">Preference Lebanese Cuisine</a></li>
                        <li><a href="/Home/PreferenceHD">Preference Hairdressing Industry</a></li>
                    </ul>

                    <ul class="footer-links">
                        <li><a href="/Home/SliderTK">Choose best suburbs in Turkish Cuisine</a></li>
                        <li><a href="/Home/SliderME">Choose best suburbs Middle Eastern Cuisine</a></li>
                        <li><a href="/Home/SliderLB">Choose best suburbs Lebanese Cuisine</a></li>
                        <li><a href="/Home/SliderHD">Choose best suburbs Hairdressing Business</a></li>
                    </ul>

                </div>

                <div class="col-xs-3 col-md-3">
                    <h6></h6>
                    <ul class="footer-links">
                        <li><a href="/Home/Hairdressing">Explore in Hairdressing Map</a></li>
                        <li><a href="/Home/TurkishCuisine">Explore in Turkish Map</a></li>
                        <li><a href="/Home/LebaneseCuisine">Explore in Lebanese Map</a></li>
                        <li><a href="/Home/MiddleEasternCuisine">Explore in Middle Eastern Map</a></li>

                    </ul>
                </div>
                <div class="col-xs-3 col-md-3">
                    <h6></h6>
                    <ul class="footer-links">
                        <li><a href="/Home/CompareHD">Compare in Hairdressing Map</a></li>
                        <li><a href="/Home/CompareTK">Compare in Turkish Map</a></li>
                        <li><a href="/Home/CompareLB">Compare in Lebanese Map</a></li>
                        <li><a href="/Home/CompareME">Compare in Middle Eastern Map</a></li>
                    </ul>
                </div>

                <div class="col-xs-3 col-md-3">
                    <h6></h6>
                    <ul class="footer-links">
                        <li><a href="/Home/Supporting">Supporting Information</a></li>
                    </ul>
                </div>

            </div>
            <hr>
        </div>
        <div class="container" style="width:90%">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="text-align:right" class="copyright-text">
                        Copyright &copy; 2019 All Rights Reserved by
                        <a target="_blank" href="https://www.youtube.com/watch?v=qY7jmfkxM60">Demeter</a>.
                    </p>
                </div>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>

    $(document).ready(function () {
        $(".navbar-toggle").css("background-color", "#D4AF37");
        $(".navbar-toggle").css("margin-top", "15px");
        $("a").css("color", "#eceaea");

    });

    $("a").mouseover(function () {
        $(this).css("color", "#D4AF37");
    });

    $("a").mouseout(function () {
        $(this).css("color", "#eceaea");
    });

</script>